<div th:fragment="footer">
<!--    <footer class="text-muted py-5">-->
<!--        <div class="col-md-4 d-flex align-items-center">-->
<!--            <span class="text-muted">© 2021 Company, Inc</span>-->
<!--        </div>-->
<!--        <div class="container">-->
<!--            <p class="float-end mb-1">-->
<!--                <a href="#">Back to top</a>-->
<!--            </p>-->
<!--        </div>-->
<!--    </footer>-->

    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <span class="text-muted">© 2021 </span>
            <div class="container">
                <p class="float-end mb-1">
                    <a href="/">Home</a>
                </p>
            </div>
        </div>

<!--        <div class="container">-->
<!--            <p class="float-end mb-1">-->
<!--                <a href="#">Back to top</a>-->
<!--            </p>-->
<!--        </div>-->
    </footer>
</div>