<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${header}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <style>
        .navbar navbar-dark bg-dark shadow-sm {
            padding: 15px;
            text-align: center;
        }
    </style>
</head>
<body>
<div th:fragment="header">

    <header>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container">
                <a href="#" class="navbar-brand d-flex align-items-center">
                    <strong>Search for colleagues</strong>
                </a>
                <div>
                    <h3 class="float-md-start mb-0">Search for colleagues</h3>
                    <nav class="nav nav-masthead justify-content-center float-md-end">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                        <a class="nav-link" href="/vacancies">Vacancies</a>
                        <a class="nav-link" href="/registration">Registration</a>
                        <a class="nav-link" href="/about">About us</a>
                        <a class="nav-link" href="/help">Help</a>
                        <a class="nav-link" href="/admin">Admin</a>
                    </nav>
                </div>
            </div>
        </div>
    </header>
</div>
</body>
</html>